body, html {
  margin: 0;
}

@font-face{
  font-family:'fu-reg';
  src:url("../css/fonts/FreeUniversal-Regular.ttf");
}

@font-face{
  font-family:'fu-bold';
  src:url("../css/fonts/FreeUniversal-Bold.ttf");
}

#entries {
  display: flex;
  flex-direction: row;
}

.entry {
  font-family: 'fu-reg';
  line-height: 1.1em;
  min-width: 200px;
  max-width: 200px;
  margin-bottom: 200px;
}

.entry a {
  text-decoration: none;
  color: #AAA;
}

.entry img {
  width: 100%;
}
.entry p a[href] {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.entry p:first-of-type {
  -webkit-margin-before: 0em;
}

.entry p {
  margin-bottom: 1.07em;
}
.entry.image {
  width: 500px;
}

strong,b {
  font-weight: normal;
  font-family: 'fu-bold';
}


#dot-dot-dot:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 22px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 22px;
  }
}
