body, html {
  margin: 0;
}

@font-face{
  font-family:'fu-reg';
  src:url("../css/fonts/FreeUniversal-Regular.ttf");
}

#entries {
  display: flex;
  flex-direction: row;
}

.entry {
  font-family: 'fu-reg';
  line-height: 1.1em;
  min-width: 200px;
  max-width: 200px;
  margin-bottom: 200px;
}

.entry a {
  text-decoration: none;
  color: #AAA;
}

.entry img {
  width: 100%;
}
.entry p a[href] {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.entry p:first-of-type {
  -webkit-margin-before: 0em;
}

.entry.image {
  width: 500px;
}
